# Please refer to following file for basic configurations, e.g. log, alert, metrics and store:
# https://github.com/Conflux-Chain/go-conflux-util/blob/main/config/.env.example

########################################################################
#
# REST API Configurations
#
########################################################################

# ========== GIN ==========

# GIN_MODE=debug


# ========== API ==========

# APP_API_ENDPOINT=":12345"
# APP_API_LOGGER=false
# APP_API_SWAGGERENABLED=false


# ========== Rate Limit ==========

# APP_API_RATELIMIT_TTLSECS=600
# APP_API_RATELIMIT_EXPIREINTERVAL="1m"
# APP_API_RATELIMIT_LIMITER_FREE_API_RATE=0.5
# APP_API_RATELIMIT_LIMITER_FREE_API_BURST=10


########################################################################
#
# Service Configurations
#
########################################################################

# ========== RPC ==========

APP_SERVICE_RPC_URL="http://evmtestnet.confluxrpc.com"
APP_SERVICE_RPC_PRIVATEKEY="your_private_key_here"
# APP_SERVICE_RPC_REQUESTTIMEOUT=3s
# APP_SERVICE_RPC_LOGENABLED=false


# ========== EIP-7702 Delegation ==========

# Configure delegated contract address to enable the AccountAbstract service.
# APP_SERVICE_ACCOUNTABSTRACT_DELEGATEDCONTRACT="your_contract_hex40_address_here"


# ========== Verifying Paymaster ==========

# Configure verifying paymaster contract address and 2 whitelists to enable the VerifyingPaymaster service.
# APP_SERVICE_VERIFYINGPAYMASTER_ADDRESS="paymaster_contract_hex40_address_here"
# APP_SERVICE_VERIFYINGPAYMASTER_SMARTACCOUNTWHITELIST="smart_account_address1,smart_account_address2"
# APP_SERVICE_VERIFYINGPAYMASTER_CONTRACTWHITELIST="contract_hex40_address_1,contract_hex40_address_2"
# APP_SERVICE_VERIFYINGPAYMASTER_MAXGASCOST=100000000000000000 # 0.1 CFX
# APP_SERVICE_VERIFYINGPAYMASTER_SIGNATURETIMEOUT="5m"

# APP_SERVICE_VERIFYINGPAYMASTER_LIMITER_FINALIZED_DAILY_DURATION="24h"
# APP_SERVICE_VERIFYINGPAYMASTER_LIMITER_FINALIZED_DAILY_MAX=10
# APP_SERVICE_VERIFYINGPAYMASTER_LIMITER_FINALIZED_MONTHLY_DURATION="720h"
# APP_SERVICE_VERIFYINGPAYMASTER_LIMITER_FINALIZED_MONTHLY_MAX=100


# ========== Price Oracle ==========

# Configure at least one USDT token to enable the price oracle.
# APP_SERVICE_PRICE_USDT="usdt0_address,usdt_address,usdc_address"
# APP_SERVICE_PRICE_CNH="cnh0_address,cnh_address"


# ========== Gas Tank ==========

# If price oracle enabled, configure the paymaster address to enable the gas tank service.
# APP_SERVICE_GASTANK_ADDRESS="paymaster_contract_hex40_address_here"
# APP_SERVICE_GASTANK_SIGNATURETIMEOUT="5m"


# ========== Token Pay ==========

# If price oracle enabled, configure recipient to enable the token pay service.
# APP_SERVICE_TOKENPAY_RECIPIENT="hex40_address_to_receive_token"
# APP_SERVICE_TOKENPAY_MINGASFEERATIO=120
# APP_SERVICE_TOKENPAY_MINGASTIPRATIO=20
# APP_SERVICE_TOKENPAY_MAXGASCOST=100000000000000000 # 0.1 CFX
# APP_SERVICE_TOKENPAY_MINSPONSORBALANCE=1000000000000000000 # 1 CFX
# APP_SERVICE_TOKENPAY_CHECKRECEIPTINTERVAL=1s
# APP_SERVICE_TOKENPAY_CHECKFUNDINGRECEIPTINTERVAL=30ms

########################################################################
#
# Worker Configurations
#
########################################################################

# ========== Event Scanner ==========

# APP_WORKER_USEROP_EVENTSCAN_NEXTBLOCK=0
# APP_WORKER_USEROP_EVENTSCAN_INTERVAL="10s"
