# Please refer to following file for basic configurations, e.g. log, alert, metrics and store:
# https://github.com/Conflux-Chain/go-conflux-util/blob/main/config/.env.example

########################################################################
#
# REST API Configurations
#
########################################################################

# GIN_MODE=debug

# APP_API_ENDPOINT=":12345"
# APP_API_LOGGER=false
# APP_API_SWAGGERENABLED=false

# APP_API_RATELIMIT_TTLSECS=600
# APP_API_RATELIMIT_EXPIREINTERVAL="1m"
# APP_API_RATELIMIT_LIMITER_FREE_API_RATE=0.5
# APP_API_RATELIMIT_LIMITER_FREE_API_BURST=10


########################################################################
#
# Service Configurations
#
########################################################################

APP_SERVICE_RPC_URL="http://evmtestnet.confluxrpc.com"
APP_SERVICE_RPC_PRIVATEKEY="your_private_key_here"
# APP_SERVICE_RPC_REQUESTTIMEOUT=3s
# APP_SERVICE_RPC_LOGENABLED=false


# Config delegated contract address to enable the AccountAbstract service, otherwise it will be disabled.
# APP_SERVICE_ACCOUNTABSTRACT_DELEGATEDCONTRACT="your_contract_hex40_address_here"


# Config verifying paymaster contract address and whitelist to enable the VerifyingPaymaster service, otherwise it will be disabled.
# APP_SERVICE_VERIFYINGPAYMASTER_ADDRESS="paymaster_contract_hex40_address_here"
# APP_SERVICE_VERIFYINGPAYMASTER_CONTRACTWHITELIST="contract_hex40_address_1,contract_hex40_address_2"
# APP_SERVICE_VERIFYINGPAYMASTER_MAXGASCOST=100000000000000000 # 0.1 CFX
# APP_SERVICE_VERIFYINGPAYMASTER_SIGNATURETIMEOUT="5m"
# APP_SERVICE_VERIFYINGPAYMASTER_MAXPENDINGOPS=10
# APP_SERVICE_VERIFYINGPAYMASTER_EXPIRATIONTIME="24h"
# APP_SERVICE_VERIFYINGPAYMASTER_EXPIRATIONINTERVAL="10m"


# Config gas tank paymaster contract address to enable the GasTank service, otherwise it will be disabled.
# APP_SERVICE_GASTANK_ADDRESS="paymaster_contract_hex40_address_here"
# APP_SERVICE_GASTANK_SIGNATURETIMEOUT="5m"


APP_SERVICE_TOKENPAY_RECIPIENT="hex40_address_to_receive_token"
APP_SERVICE_TOKENPAY_TOKENS="hex40_address_of_usdt_token_contract1,hex40_address_of_usdt_token_contract2"
# APP_SERVICE_TOKENPAY_MINGASFEERATIO=120
# APP_SERVICE_TOKENPAY_MINGASTIPRATIO=20
# APP_SERVICE_TOKENPAY_MAXGASCOST=100000000000000000 # 0.1 CFX
# APP_SERVICE_TOKENPAY_MINSPONSORBALANCE=1000000000000000000 # 1 CFX
# APP_SERVICE_TOKENPAY_CHECKRECEIPTINTERVAL=1s
# APP_SERVICE_TOKENPAY_CHECKFUNDINGRECEIPTINTERVAL=30ms
