# Please refer to following file for basic configurations, e.g. log, alert, metrics and store:
# https://github.com/Conflux-Chain/go-conflux-util/blob/main/config/.env.example

########################################################################
#
# REST API Configurations
#
########################################################################

# GIN_MODE=debug

# APP_API_ENDPOINT=":12345"
# APP_API_LOGGER=false
# APP_API_SWAGGERENABLED=false


########################################################################
#
# Service Configurations
#
########################################################################

APP_SERVICE_RPC_URL="http://evmtestnet.confluxrpc.com"
# APP_SERVICE_RPC_REQUESTTIMEOUT=3s
APP_SERVICE_RPC_PRIVATEKEY="your_private_key_here"
APP_SERVICE_RPC_LOGENABLED=false

# APP_SERVICE_ACCOUNTABSTRACT_DELEGATEDCONTRACT="your_contract_hex40_address_here"
